
.meu-botao {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .meu-botao:hover {
    background-color: #2980b9;
  }
li{
  list-style: none;
}